
h1 {
    text-align: center;
    height: 10%;
    width: 800px;
    margin: 20px auto;
}

body, html {
    height: 95%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite; 
}

#maintxt {
    grid-column: 1 / 5;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    color: #712101 ;
}

.maincontainer {
    margin: 0 auto;
    width: 90%;
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 11vw);
    grid-column-gap: 30px;
    place-items: center;
    grid-column: auto;
}

#try {
    background: lawngreen;
    position: absolute;
    z-index: -1;
}