* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    position: fixed;
    background-image: url("./images/wp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainbody {
    position: relative;
}

.titlebox {
    display: flex;
    position: relative  ;
    flex-direction: column; 
    width: 800px;
    height: 100px;
    left: 30px;
}

#intro-title {
    align-self: flex-start;
    font-size: 4vw;
    color: white;
    left: 30px;
}

#intro-subtitle {
    align-self: flex-start;
    font-size: 3vw;
    color: white;
    top: 85px;
    left: 30px;
}

#basicslink {
    align-self: safe center;
    width: 200px;
    text-align: center;
    font-size: 2vw;
    margin: 20px;
    margin-top: 60px;
    background-color: #101010;
}

#basicslink a {
    color : #efefef;
    text-decoration-line: none;
}

#modernlink {
    align-self: safe center;
    width: 200px;
    text-align: center;
    font-size: 2vw;
    margin: 20px;
    background-color: #101010;
}

#modernlink a {
    color : #efefef;
    text-decoration-line: none;
}

#authorslink {
    align-self: safe center;
    width: 200px;
    text-align: center;
    font-size: 2vw;     
    margin: 20px;
    background-color: #101010;
}

#authorslink a {
    color : #efefef;
    text-decoration-line: none;
}